node_modules/
*/node_modules/
.env
.env.local
server/.env
dist/
build/
client/dist/
*.log
npm-debug.log*
.DS_Store
Thumbs.db
client/.vite/
client_secret_457031608686-gli86etco7j12637gfuo98i2mcprmt52.apps.googleusercontent.com.json